# Main dependencies
QtPy
PySide6
python-docx
qtawesome
concurrent-log-handler
# PySide2 5.14 supported too
# PyQt5

# for Qr code generator
Pillow
qrcode

# for lazy loading (work in progress)
SQLAlchemy
mysql-connector-python

# for import from xls (work in progress)
pandas

# for python pre 3.8 only
dataclasses

# for hot reload (autoreload - it is useful but not stable)
#watchdog

# for web worker
uvicorn
fastapi
httpx
# ujson
starlette

# for Install and Development
PyInstaller
pytest
pydantic
