# Main dependencies
QtPy
PySide2
python-docx
qtawesome
concurrent-log-handler

# for Qr code generator
Pillow
qrcode

# for lazy loading (work in progress)
SQLAlchemy
mysql-connector-python

# for import from xls (work in progress)
pandas

# for python pre 3.8 only
dataclasses

# for hot reload (autoreload - useful but not stable)
#watchdog
